<ion-view view-title="About">
  <ion-content>
    <div class="list about-list">
      <div class="item item-thumbnail-left">
        <img src="img/logo.png">
        <h2>DisasterHub</h2>
        <p align="justify">A mobile app Enabling crowd-generated data fusion in Earth Observation disaster management build on top of Ionic Framework and Cordova project.</p>
      </div>
      <div class="item">
        <div class="button-bar">
          <a class="button button-small">Get help</a>
          <a class="button button-small button-positive">Report an issue</a>
        </div>
      </div>
      <a class="item item-thumbnail-left" href="#" onclick="window.open('http://digitalearthlab.jrc.ec.europa.eu/mygeoss/', '_system', 'location=yes'); return false;" alt="MYGEOSS Applications for your environment">
        <img src="img/mygeoss_logo.png" style="width:auto; left: 28px;">
        <h2>MYGEOSS Applications for your environment</h2>
        <p align="justify">This application has been developed within the MyGEOSS project, which has received funding from the European Union’s Horizon 2020 research and innovation programme.</p>
      </a>
      <a class="item item-icon-right" ng-click="openModal()">
        <p align="justify">DisasterHub complies with 
          <span class="positive" style="text-decoration: underline;">MYGEOSS Privacy Statement</span>
        </p>
      </a>
    </div>
  </ion-content>
</ion-view>